html/
aufgaben.o
dep.makefile
main
main.o
roots.o
tags
integration.o
test_integration.o
test_main
test_main.o
out-4.csv
out-4.pdf
out-5.csv
out-5.pdf
out-1.csv
out-1.pdf
out-1.png
out-4.png
out-5.png
output.txt
